/* ................Function for all..................... */
.flex{
    display: flex;
}
::placeholder{
    color: #006699;
}
main{
    height:80vh;
}
/* .conteiner{
    max-width: 1500px;
    margin: auto;
} */
/* ................Function for all..................... */
/* ..................Header section ................. */
header{
    padding-top: 10px;
    height: 80px;
    background-color: #f2f2f2;
    margin-bottom: 20px;
}
.headerinput{
    width: 350px;
    height: 100%;
    border: 2px #006699 solid;
    border-radius: 30px;
}
.headerform{
    height: 100%;
}
.headerbutton{
    height: 40px;
    width: 40px;
    font-size: 25px;
    background-color:#006699 ;
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
}
.headercategories{
    justify-content: space-around;
}
.headerspan{
    margin-right: 15px;
    font-size: 30px;
    color: #006699;
    cursor: pointer;
}
.headerspan:hover{
    color: gray;
}
.headerregistration{
    width: 150px;
    height: 45px;
    border:#006699 solid 2px;
    border-radius: 30px;
    text-align: center;
    padding: 7.5px 0 7.5px 0px;
    font-size: 20px;
    color: #006699;
    margin-left: 20px;
}
.headerregistration:hover{
    color: white;
    background-color: #006699;
}
/* ..................Header section ................. */
/* ....................... aside section ....................... */
aside{
    height: 620px;
    background-color:#006699;
    display: inline-block;
    color: white;
    border-radius: 10px;
    margin-left: 10px;
}
li{
    border-bottom: 2px solid white;
    margin-bottom: 17px;
    font-size: 20px;
    padding-bottom: 8px;
}
ul{
    padding: 15px;
}
li a{
    font-size: 20px;
    color: white;
}
/* ....................... aside section ....................... */
/* .......................Registration section......................... */
#registration{
    text-align: center;
    width: 70%;
    justify-content: center;
}
.insideregistration{
    width: 550px;
    height: 550px;
    border: 2px solid #006699;
    border-radius: 30px;
}
.insideregistration{
    padding-top: 10px;
    color: #006699;
    font-size: 25px;
    font-weight: 600;
}
.inputs{
    justify-content: center;
}
.inputs span{
    background-color: #006699;
    width: 50px;
}
label{
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.inputs input{
    display: flex;
    width: 200px;
    height: 40px;
    border: solid 2px #006699;
}
form{
    height: 500px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.Regbutton{
    width: 30%;
    height: 35px;
    border: solid 2px #006699;
    border-radius: 10px;
    background-color:white;
    color: #006699;
    margin-top: 30px;
    font-size: 15px;
}
.Regbutton:hover{
    background-color: #006699;
    color: white;
}
/* .......................Registration section......................... */
/* .......................Footer section................................ */
footer{
    height: 20vh;
    background-color:#f2f2f2;
}
.fullfooter{
    justify-content: space-around;
}
.footer-navigation{
    width: 66%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
}
.footericon{
    width: 20%;
}
.fullfooter{
    height: 100%;
}
.category{
    display: flex;
    align-items: center;
    height: 20%;
    width: 100%;
    margin-bottom: 10px;
}
.clickcategory{
    color: #006699;
    padding: 7.5px;
    text-align: center;
    min-width: 8%;
    height: 35px;
    border: solid #006699 2px;
    border-radius: 30px;
    font-size: 15px;
    margin-left: 10px;
}
.clickcategory:hover{
    background-color:#006699;
    color: #f2f2f2;
}
.footer-navigation h2{
    width: 30%;
    text-align: center;
    display: inline-block;
    margin-left: 20%;
    margin-bottom: 20px;
    font-size: 25px;
    color: #006699;
    font-weight: 800;
}
.footericon{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footericon h2{
    font-size: 25px;
    color: #006699;
    font-weight: 800;
    margin-bottom: 20px;
}
.upicon,.downicon{
    width: 50%;
    height: 20%;
    font-size: 30px;
    align-items: center;
    justify-content: space-around;
    color: #006699;
}
.upicon i,.downicon i{
    color: #006699;
}
.upicon i:hover{
    color: gray;
}
.downicon i:hover{
    color: gray;
}
/* .......................Footer section................................ */

